@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Satisfy&family=Poppins:wght@400;500;600;700;800&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	background-color: #101010;
	color: white;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}

.clr-1 {
	color: #009e66;
}

.clr-2 {
	color: #9e9e9e;
}

.link {
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	color: #9e9e9e;
}

.navbar {
	margin-bottom: 0px;
}

.nav-bg {
	background-color: #161616;
}

main {
	min-height: 100vh;
	position: relative;
	background-color: #101010;
	color: white;
	background-image: url("background.webp");
	background-attachment: fixed;
}

.hero-container {
	position: absolute;
	width: 100%;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-40%);
}

.name-main {
	font-size: 64px;
	font-weight: 500;
	font-family: "Satisfy", serif;
	line-height: 1.5;
}

.subtitle-main {
	font-size: 16px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}

#contact-btn {
	background-color: #009e66;
	cursor: pointer;
	font-weight: 500;
	transition: color 1s ease-out;
}

#contact-btn:hover {
	color: black;
}

#cv-btn {
	cursor: pointer;
	border: 2px solid #009e66;
	color: white;
	font-weight: 500;
	background: linear-gradient(to right, #009e66 50%, rgba(0, 0, 0, 0) 50%);
	/* background: linear-gradient(to right, #009e66 50%, #161616 50%); */
	background-size: 300% 100%;
	background-position: right bottom;
	transition: all 0.5s ease-out;
}

#cv-btn:hover {
	color: black;
	background-position: left bottom;
}

ul {
	list-style: none;
}

.logos-list {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.hero-logos {
	color: white;
	transition: all 0.2s ease-out;
}

.hero-logos:hover {
	color: #009e66;
}

.title-main {
	font-family: "Popins", sans-serif;
	font-weight: 800;
	font-size: 46px;
}

.title-sec {
	font-family: "Popins", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.main-hr {
	width: 75px;
	border: none;
	height: 4px;
	background-color: #009e66;
	opacity: 1;
}

.rupesh-photo {
	max-width: 500px;
}

.whomi {
	font-family: "Popins", sans-serif;
	font-size: 24px;
	font-weight: 400;
	display: none;
	color: #009e66;
}

.about-main {
	font-family: "Popins", sans-serif;
	font-size: 31px;
	font-weight: 700;
}

.about-desc {
	font-family: "Popins", sans-serif;
	font-size: 16px;
	color: #9e9e9e;
}

.cv-btn-2 {
	background-color: #009e66;
	text-align: center;
	cursor: pointer;
	transition: color 1s ease-out;
}

.hr-abt {
	height: 4px;
	background-color: #3d3d3d;
	opacity: 1;
}

.cv-btn-2:hover {
	color: black;
}

footer {
	background-color: #161616;
}

.footer-container {
	text-align: center;
}

.footer-heading {
	font-size: 44px;
	font-weight: 500;
	font-family: "Satisfy", serif;
}

.footer-logos ul li {
	display: inline-block;
}

.scroll-top-logo {
	color: #009e66;
}

.scroll-top-logo:hover {
	color: #9f9f9f;
}

@media (min-width: 992px) {
	.rounded-lg-3 {
		border-radius: 0.3rem;
	}
}

@media (max-width: 992px) {
	.whomi {
		display: block;
	}
}

@media (min-width: 1400px) {
	.whomi {
		display: block;
	}
}
